Flask==3.0.0
Flask-SocketIO==5.3.6
Flask-SSLify==0.1.5
python-socketio==5.10.0
python-engineio==4.8.0
gevent==23.9.1
gevent-websocket==0.10.1
pywin32==306
pillow==10.1.0
cryptography==41.0.7
pyOpenSSL==23.3.0
requests==2.31.0
numpy==1.26.2
